.begin {
  padding-bottom: 56px;
}
.begin__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.begin__left {
  width: 60%;
}
.begin__right {
  position: sticky;
  right: 0;
  top: -100px;
  z-index: 4;
}
.begin__title {
  font-family: "Zen Dots", sans-serif;
  font-weight: 400;
  font-size: 74px;
  line-height: 108px;
  color: #FFFFFF;
  padding-bottom: 16px;
}
.begin__text {
  font-weight: 400;
  font-size: 18px;
  color: #BDBFD1;
}
.begin__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 60px;
     -moz-column-gap: 60px;
          column-gap: 60px;
  padding: 77px 0 68px;
}
.begin__succesful {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
}
.begin__num {
  font-size: 24px;
  color: #FFFFFF;
}
.begin__desc {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  color: #BDBFD1;
}